# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local

# build output
dist/
build/

# misc
.DS_Store
coverage/

# IDE
.vscode/
.idea/
